<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="title_item">
  <h2>Title:</h2>
  <p><%= @book.title %></p>
</div>
<div class="body_item">    
  <h2>Body:</h2>
  <p><%=  @book.body %></p>
</div>

<div>
  <span class="link_text">
    <%= link_to "Edit", edit_book_path(@book.id) %>
  </span>
  <span class="link_text">
    <%= link_to "Back", books_path %>
  </span>
</div>